@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 1.5em;
}

a {
  color: blue;
  text-decoration: underline;
}

.editadosucesso p {
  color: green;
}